{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Utilisateur{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <h2 class="alert alert-info text-center" role="alert">
            {{ message }}
        </h2>
    {% endfor %}
    <h1 class="text-center text-primary"> Slam : Utilisateur</h1>

    <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Informations Personnelles</h1>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                {{form_start(form)}}

                    {{form_label(form.nom, 'Votre Nom :', {'label_attr':{'class':'fw-bold mt-4'}})}}
                    {{form_widget(form.nom, {'attr':{'class':'form-control mb-4 ', 'placeholder':'votre Nom ...'}})}}

                    {{form_label(form.prenom, 'votre Prenom :', {'label_attr':{'class':'fw-bold mt-4'}})}}
                    {{form_widget(form.prenom, {'attr':{'class':'form-control mb-4', 'placeholder':'votre Prenom ...'}})}}

                    {{form_label(form.nomEquipage, "votre Nom d'équipage", {'label_attr':{'class':'fw-bold mt-4'}})}}
                    {{form_widget(form.nomEquipage, {'attr':{'class':'form-control mb-4', 'placeholder':"votre Nom d'équipage ..."}})}}


                    <div class="text-center">
                    {{form_widget(form.save, {'label':"Soumettre le formulaire", 'attr':{'class':'btn btn-primary'}})}}
                    </div>
                {{form_end(form, {render_rest: true})}}
                    
                </div>
            </div>
        </div>
{% endblock %}